<div class="row">
  <div class="col-xs-12">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ profile.firstName }} {{ profile.lastName }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Profile <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditProfile()">Edit Profile</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteProfile()">Delete Profile</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 review">
    <h3>Performance Review</h3>
    {{ profile.review }}
  </div>
</div>
